body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 231, 231);
}

.post-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.post {
    padding: 10px;
}

.post h3 {
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.post p {
    font-size: 30px;
}

.comments-container {
    margin-top: 200px;
    padding: 20px;
}

.comment {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
}

.profile-pic {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-top: 10px;
}

.comment-content {
    flex: 1;
}

.comment .comment-text {
    margin: 0;
}

.comment .comment-edit-delete {
    position: absolute;
    top: 15px;
    right: 15px;
}

.comment .comment-edit-delete button {
    background-color: white;
    border: none;
    color: rgb(0, 128, 255);
    cursor: pointer;
    margin-left: 10px;
}

.comment-form {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    z-index: 1;
}

.comment-form input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
}

.comment-form #comment {
    padding-right: 400px;
}

.comment-form button {
    padding: 10px 20px;
    background-color: white;
    color: rgb(0, 128, 255);
    border: none;
    cursor: pointer;
    font-size: 16px;
}